* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Lato, sans-serif;
    font-weight: 400;
}


/*navbar styling*/
.navbar{
    width: 100%;
    height: 12%;
    background-color: #333;
    position: fixed;
    top: 0rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top .4s .2s;
}

.navbar-link{
    color: rgb(187, 162, 23);
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s, opacity 0.2s;
    opacity: 1;
}

/*adjusted this so section 1,2,3 occupy the same width as the navbar*/
.container-fluid{
    padding: 0;
}

/*section 1 styling*/

.section-1 {
    /*height and width make it take over the entire viewport*/
    width: 100%;    
    height: 100vh;
    background-color: rgb(238, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*section 2 styling*/

.section-2 {
    /*height and width make it take over the entire viewport*/
    width: 100%;    
    height: 100vh;
    background-color: rgb(210, 222, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*section 3 styling*/

.section-3 {
    /*height and width make it take over the entire viewport*/
    width: 100%;    
    height: 100vh;
    background-color: rgb(195, 221, 188);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*footer styling*/

.fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: rgb(187, 162, 23);
        bottom: 0;
}

.container{
        width: 80%;
        margin: 0 40% auto; /* get the copyright text centre*/
        
}